[submodule "frontend2/submodules/three"]
	path = frontend2/submodules/three
	url = https://github.com/mrdoob/three.js.git
[submodule "frontend2/submodules/css_reset"]
	path = frontend2/submodules/css_reset
	url = https://github.com/richclark/HTML5resetCSS.git
