.controlPanel {
  margin: 2px;
  background: antiquewhite;
  width: 400px;
  height: auto;
}

.drawPanel {
  margin: 2px;
  background: antiquewhite;
  width: 400px;
  height: 400px;
}

#crossSection {
}

#sideView {
  width: 1200px;
}

.pure-button-group .pure-button {
  border-radius: 5px;
}

.button-small {
  font-size: 90%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
