.controlPanel {
  margin: 2px;
  background: antiquewhite;
  width: 400px;
  height: 40px;
}

.drawPanel {
  margin: 2px;
  background: antiquewhite;
  width: 400px;
  height: 400px;
}

#crossSection {
}

#sideView {
  width: 1200px;
}

