body { 
  overflow-x: hidden; 
  overflow-y: hidden;
  margin: 0;
}

.widget-container {
  position: absolute;
  top: 0px;
}

.widget {
  background: aliceblue;
  margin: 4px 4px;
  padding: 8px 8px;
  border-radius: 5px;
  float: left;
  position: relative;
  transition: all 0.3s linear;
  min-height: 4px;
}

.widget .content {
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
}

.widget.shrink {
  height: 0;
  width: 0;
}

.widget .button {
  background: grey;
  padding: 0px 4px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.widget .centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget .message {
  position: absolute;
  height: 100%;
  width: 100%;
}

.widget .content.graph {
  display:flex;
  align-items: flex-end;
  justify-content: left;
  height: 100%;
}

.widget .bar {
  float: left;
  width: 1px;
  background: red;
  height: 100%;
}

.widget .inline {
  display: inline-block;
}

.widget input[type=number]{
  width: 2em;
}

.widget input[type=range]{
  display: block;
}
